<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dayoff">

	<!-- 휴가 신청 -->
	<insert id="insertDayoff" parameterType="Dayoff">
		insert into dayoff(e_pk,d_name,d_note,d_master,d_date) values(#{e_pk},#{d_name},#{d_note},#{d_master},#{d_date})
	</insert>

	<!-- 전 사원의 휴가 정보 가져오기 -->
	<select id="selectAllDayoff" resultType="Dayoff">
		select *from dayoff
	</select>

	<!-- 특정 사원의 휴가 정보 가져오기 & 미승인 -->
	<select id="select" parameterType="int" resultType="Dayoff">
		select *from dayoff where e_pk =#{e_pk} and d_status=0
	</select>
	
	<!-- 특정 사원의 휴가정보 & 승인완료 -->
	<select id="selectOk" parameterType="int" resultType="Dayoff">
		select *from dayoff where e_pk =#{e_pk} and d_status=1
	</select>
	
	<!-- 특정사원의 모든 휴가정보 가져오기 -->
	<select id="selectAllNow" parameterType="int" resultType="Dayoff">
		select *from dayoff where e_pk =#{e_pk}
	</select>


	<!-- 승인 요청 대기중인 리스트  -->
	<select id="selectAll" resultType="Dayoff">
		select * from dayoff where d_status = 0 order by d_pk asc
	</select>
	
	<!-- 승인 요청 완료된 리스트 -->
	<select id="selectAllByApproval" resultType="Dayoff">
		select * from dayoff where d_status = 1 order by d_pk asc
	</select>
	
	
	<!-- 승인 요청 -->
	<update id="update" parameterType="Dayoff">
		update dayoff set w_status=1 where d_pk=#{d_pk}
	</update>
	
	<!-- 승인 거절 -->
	<delete id="delete" parameterType="int">
		delete from dayoff where d_pk=#{d_pk}
	</delete>


</mapper>